@{
    var projects = new ProjectInfo[]
    {
        new("#",
            "img/pig.webp",
            "Lorem ipsum",
            "피가 든 찾아다녀도, 피부가 있으며, 위하여 풀이 새 시들어 말이다. 그러므로 수 군영과 용기가 있을 것이다. 속잎나고, 갑 사랑의 찾아다녀도, 스며들어 부패뿐이다. 풍부하게 뛰노는 청춘 그러므로 봄바람이다.",
            "2022년 5월 29일", "테스트", "입니다", "ㅎㅎ"
        ),
        new("#",
            "img/pig.webp",
            "Lorem ipsum",
            "피가 든 찾아다녀도, 피부가 있으며, 위하여 풀이 새 시들어 말이다. 그러므로 수 군영과 용기가 있을 것이다. 속잎나고, 갑 사랑의 찾아다녀도, 스며들어 부패뿐이다. 풍부하게 뛰노는 청춘 그러므로 봄바람이다.",
            "테스트", "입니다", "ㅎㅎ"
        ),
    };
}

<div>
    <h2 class="text-center">프로젝트</h2>
    @foreach (var item in projects)
    {
        <a href="@(item.Link)">
            <div class="project card">
                <img src="@(item.ImageSource)" />
                <div>
                    <h3>@(item.Title)</h3>
                    <p>
                        @(item.Summary)
                    </p>
                    @foreach (var tag in item.Tags)
                    {
                        <span class="tag">@(tag)</span>
                    }
                </div>
            </div>
        </a>
    }
</div>